.header {
    display: flex;
    position:absolute;
    top:0;
    left:0;
    right:0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .searchBox {
    left: 10%;
    flex: 1;
    margin: 0 20px;
    position: relative;
  }
  
  .searchBox input[type="text"] {
    width: 30%; /* Input field takes full width of the container */
    border: none; /* No border for the input field */
    outline: none; /* Remove default input focus outline */
    border-radius: 8px; /* Rounded corners for the input field */
    padding: 13px; /* Add padding inside the input field */
  }
