.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentContainer {
  display: flex;
  flex: 1;
}

.navbar {
  width: 200px;
  height: 100%;
  background-color: #ccc;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.orderView {
  width: 200px;
  height: 100%;
  background-color: #ccc;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  z-index: 1;
}
