.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentContainer {
  display: flex;
  flex: 1;
}

.navbar {
  width: 100px;
  background-color: #cccccc2b; 
}

.content {
  margin: 100px 0px 0px 80px; 
  align-items: center;
  justify-content: center;
  max-height: 75vh;
  height: 82%;
  width: 72%;
}

.orderView {
  top: auto;
  max-width: 60vh;
}

/* header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  z-index: 1;
} */
